header {
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
}
footer {
  background-color: #f2f2f2;
  padding: 20px;
  border-top: 1px solid #e5e5e5;
}
.logo {
  font-size: 1.25em;
  font-weight: bold;
  color: rgb(48, 122, 172);
}
header a {
  color:rgb(28, 31, 32);
  padding: 7px 15px;
  text-decoration: none;
}
header a:hover {
  background-color:#FFF;
}