<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto py-4">
      <div class="d-flex">
        <input type="search" role="search" class="flex-grow-1 rounded-pill rounded-end px-3" autofocus [(ngModel)]="search" (keydown.enter)="searchHeroes()">
        <button class="btn btn-primary rounded-pill rounded-start" (click)="searchHeroes()">Search</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="heroes.length > 0; else elseBlock">
    <div class="col-md-3 mb-2" *ngFor="let hero of heroes">
      <div class="card heroCard">
        <a [routerLink]="['/hero', hero.id]">
          <img [src]="hero.images.md" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h2 class="text-center mb-0">{{ hero.name }}</h2>
          <div class="d-flex">
            <div class="flex-grow-1">Intelligence</div>
            <div class="flex-grow-0">{{ hero.powerstats.intelligence }}</div>
          </div>
          <div class="d-flex">
            <div class="flex-grow-1">Speed</div>
            <div class="flex-grow-0">{{ hero.powerstats.speed }}</div>
          </div>
          <div class="d-flex">
            <div class="flex-grow-1">Power</div>
            <div class="flex-grow-0">{{ hero.powerstats.power }}</div>
          </div>
          <div class="d-flex">
            <div class="flex-grow-1">Gender</div>
            <div class="flex-grow-0">{{ hero.appearance.gender }}</div>
          </div>
          <div class="d-flex">
            <div class="flex-grow-1">Race</div>
            <div class="flex-grow-0">{{ hero.appearance.race }}</div>
          </div>
        </div>
        
      </div>
    </div>
  </div><!-- /.row -->
  <ng-template #elseBlock>
    <div class="alert alert-warning text-center py-4" role="alert">
      <h1>No heros found.</h1>
    </div>
  </ng-template>
</div><!-- /.container -->